// font-family: 'Rubik', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

$very-dark-gray: hsl(0, 0%, 17%);
$dark-gray: hsl(0, 0%, 59%);

$white: white;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	font-family: 'Rubik', sans-serif;
	background: #000;
	display: flex;
	flex-direction: column;
}

// visually hodden for screen readers
.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.page-header {
	display: flex;
	position: relative;
	padding: 25px;
	background-image: url('./images/pattern-bg.png');
	background-position: center;
	background-size: cover;
	flex-direction: column;
	align-items: center;
	gap: 28px;
	&__title {
		color: $white;
		font-size: 26px;
		font-weight: 500;
	}
	&__form {
		display: flex;
		width: 100%;
		max-width: 550px;
	}
	&__input {
		padding: 18px;
		border: none;
		border-top-left-radius: 1rem;
		border-bottom-left-radius: 1rem;
		font-size: 18px;
		font-weight: 500;
		flex-grow: 1;
		width: 100%;
	}
	&__search-btn {
		padding: 18px 22px;
		border: none;
		border-top-right-radius: 1rem;
		border-bottom-right-radius: 1rem;
		background-color: black;
		cursor: pointer;
		&:hover {
			background-color: $very-dark-gray;
		}
	}
	&__info-container {
		$height: 18rem;
		height: $height;
		margin-bottom: calc((#{$height/2} + 25px) * (-1)); // (height / 2) + gap
		z-index: 9999;
		width: 100%;
	}
}

.info-container {
	border-radius: 1rem;
	background-color: $white;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 1rem 0;
	&__item {
		flex: 1 0 100%;
	}
}

.info-item {
	margin: 0.5rem 0 1rem;
	text-align: center;
	&__title {
		color: $dark-gray;
		text-transform: uppercase;
		font-size: 0.75rem;
		font-weight: 500;
		margin-bottom: 5px;
		letter-spacing: 2px;
	}
	&__text {
		font-weight: 500;
		font-size: 1.25rem;
	}
}

.map {
	width: 100%;
	flex-grow: 1;
}

@media only screen and (min-width: 576px) {
	.page-header {
		&__title {
			font-size: 32px;
		}
		&__info-container {
			$height: 12rem;
			height: $height;
			margin-bottom: calc((#{$height/2} + 25px) * (-1));
		}
	}

	.info-container {
		&__item {
			&:not(:nth-of-type(2n-1)) {
				border-left: 1px solid $dark-gray;
			}
			flex: 1 0 50%;
			text-align: left;
			padding: 0 2rem 0 1rem;
		}
	}

	.info-item {
		&__title {
			transform: translateY(-50%);
		}
		&__text {
			font-weight: 700;
			font-size: 26px;
		}
	}
}

@media only screen and (min-width: 1024px) {
	.page-header {
		&__info-container {
			width: Min(100%, 1100px);
			$height: 10rem;
			height: $height;
			margin-bottom: calc((#{$height/2} + 25px) * (-1));
		}
	}

	.info-container {
		margin-top: 25px;
		flex-wrap: nowrap;
		&__item {
			&:not(:first-of-type) {
				border-left: 1px solid $dark-gray;
			}
			padding: 0 1rem 0 2rem;
			margin: 1.75rem 0;
			flex: 1 0 25%;
		}
	}
}
